body {
    background-color: #101011;
    margin: 0;
    padding: 0;
    font-family: 'lato', sans-serif;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 0 10%;
    background-color: black;
    color: white;
}

.nav-bar ul {
    display: flex;
    list-style: none;
    gap: 50px;
    align-items: center;
}

.nav-bar ul li a {
    text-decoration: none;
    color: white;
}

footer {
    background-color: black;
    padding: 50px 0;
}

footer p {
    color: white;
    text-align: center;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 29px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 80%;
    margin: 20px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.title-container {
    color: white;
    padding: 2px 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.like-icon {
    display: flex;
    gap: 10px;
}

.title-container span {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.fa-heart {
    display: flex;
    justify-content: center;
    cursor: pointer;
}

#isDisabled {
    display: none;
    color: red;
}

/* Experiment */

.container {
    position: relative;
    width: 100%;
}

.image {
    opacity: 1;
    display: block;
    width: 100%;
    height: 500px;
    border-radius: 10px;
    transition: 0.5s ease;
    backface-visibility: hidden;
}

.middle {
    transition: 0.5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.container:hover .image {
    opacity: 0.3;
}

.container:hover .middle {
    opacity: 1;
}

.btn {
    background-color: #04aa6d;
    color: white;
    padding: 16px 32px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 50%;
    display: block;
    height: 80px;
    width: 80px;
    border: 1px solid white;
}

.popup {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 90%;
    overflow: auto;
    margin-top: 20px;
}

.popup-image {
    opacity: 1;
    display: block;
    width: 30%;
    height: 300px;
    border-radius: 10px;
    transition: 0.5s ease;
    backface-visibility: hidden;
}

.popup-wrapper {
    background-color: wheat;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.popup-wrapper h2 {
    height: 5px;
    margin: 1rem;
}

.popup-wrapper p {
    height: 5px;
}

.popup-wrapper h3 {
    margin-top: 2rem;
}

.popup-wrapper h4 {
    height: 0;
}

.close {
    position: absolute;
    color: white;
    font-size: 40px;
    cursor: pointer;
}

.close-btn-wrapper {
    display: flex;
    justify-content: end;
    width: 35%;
}

.form {
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.items {
    display: flex;
    flex-direction: row;
    margin-top: 0.5rem;
    gap: 2rem;
    font-weight: 400;
    height: 90px;
}

.items div {
    margin-top: -1rem;
    width: 60%;
}

.user {
    margin-bottom: 1.5rem;
}
.items hr{
    position: absolute;
}
.main-title {
    color: white;
    display: flex;
    justify-content: center;
}
